## Model Selection and Cross Validation

In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv('Purchased_Dataset.csv')
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [17]:
x_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =7)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [21]:
x_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

In [25]:
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy').mean())

0.7893574108818011

In [26]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
print (cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy').mean())

0.6499937460913072